html,
body {
  height: 100%;
}

.splash{
  height: 100%;
  /* background-color: #00b0eb; */
  background: linear-gradient(168deg, #00b0eb, #6af5ec)
}

.viewbutton {
  background-color: #b0eb00;
  color: white;
}

.viewbutton:hover{
  color: 	white;
  background-color:#3aeb00;
  transition: ease 1s;
}

.navbar {
  background-color: transparent;
  width: 100%;
}

div>h1{
  font-weight: lighter;
}

#square{
  width: 100%;
  height: 100%;
  border: 2px solid white;
  padding: .1em;
  border-radius: 100%;
}

#square:hover {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

li>a{
  text-transform: uppercase;
}

a.nav-link:hover{
  border-bottom: solid #b0eb00 1px;
}

.active{
  background-color:  #B0EB00;
  border-radius: 5px;
}

.title{
  font-weight: lighter;
}

#meet{
  background-color:#CF4647;
  color:white;
}

#meet:hover{
  background-color: 	#E87BB3;
  transition: ease 1s;
}

.shader{
  box-shadow: 5px 5px 4px grey;
  border-radius: 10px;
}

#projects{
  margin-top:30px;
  
}



.shader{
  box-shadow: 5px 5px 9px grey;
  border-radius: 10px;
}

.footer{
  background-color: #00b0eb;
  margin-top: 30px;
}

.card:hover{
  cursor: pointer;
  transition: ease 0.4s;
  box-shadow: 2px 2px 4px grey;
}

.card:active{
  box-shadow: 2px 2px 4px grey;
}

.works {
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
