html,
body {
  height: 100%;
  background-color: #f5f5f5
}

.splash{
  height: 100%;
  /* background-color: #00b0eb; */
  background: linear-gradient(168deg, #00b0eb, #6af5ec)
}

.contacts{
  background: linear-gradient(168deg, #00b0eb, #6af5ec);
  color: white;
}

.pointer {
  top: 9em;
  color: white;
  opacity: 0;
  font-weight: lighter;
  text-shadow: 0 2px 5px rgba(0,0,0,.26)
}

.breadcrumb{
  margin-top: 15px;
  text-shadow: 1px 2px 5px rgba(0,0,0,.20);
  color: white
}

.breadcrumb-item+.breadcrumb-item::before{
  color: lightgray;
}

.Skills{
  padding: 5%;
}

.btn{
  background-color: #00b0eb;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
}

.btn:hover{
  transition: ease;
  background-color: #61CDF2;
}

.social{
  text-align: center;
}

.navbar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 9
}

div>h1{
  font-weight: lighter;
}

.navbar-brand {
  width: 50px;
}
#square:hover {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

#symbol{
  width: 35%;
}

.services {
  margin-top: 60px;
}

.secret{
  color: transparent;
}

.secret:hover{
  color: white;
  transition: ease 1s;
}

.modal-content{
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.project{
  height: 300px;
  width: 300px;
  margin: 10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26)
}

.project:hover{
  cursor: pointer;
  opacity: .5;
  transition: ease .5s;
}

.project_image{
  width: 300px;
  height: 300px;
}

hr{
  max-width: 80px;
  background-color: #00b0eb;
  height: 5px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
}

.project_screen{
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
}

.project_title{
  font-weight: lighter;
  font-size: medium
}

.project_content{
  text-align: left;
}

.under{
  margin-top:30px;
}

.titles{
  text-align: center
}

.breadcrumb-item{
  text-transform: uppercase;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

li>a{
  text-transform: uppercase;
}

a.nav-link{
  border-bottom: solid transparent 1px;
  font-weight: lighter;
  text-shadow: 1px 2px 5px rgba(0,0,0,.20);
}

a.nav-link:hover{
  border-bottom: solid white 1px;
  transition: ease .5s;
}

.modules {
  box-shadow:1px 2px 5px rgba(0,0,0,.26);
  padding: 30px;
  background-color: white;
}

.active{
  background-color:  white;
}

.title, .descriptions{
  font-weight: lighter;
  text-shadow: 1px 2px 5px rgba(0,0,0,.26);
}

.arrow{
  top: 8em;
  color: white;
  text-shadow: 1px 2px 5px rgba(0,0,0,.26);
}

.arrow:hover{
  cursor: pointer;
}

.footer{
  background-color: #00b0eb;
  margin-top: 30px;
}

.card:hover{
  cursor: pointer;
  transition: ease 0.4s;
  box-shadow: 2px 2px 4px grey;
}

.card:active{
  box-shadow: 2px 2px 4px grey;
}

.works {
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

@media (max-width: 990px) {
  a.active{
    padding: 10px !important
  }
}

@media (max-width:768px) {
  .display-1{
    font-size: 70px;
  }
  .project{
    width: 250px;
    height: 250px;
  }
  .Skills{
    padding: 25%
  }
}

@media (max-width:420px) {
  .display-1{
    font-size: 30px;
  }
  .project{
    width: 180px;
    height: 180px;
  }
  .Skills{
    padding: 25%
  }
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}